# Exercícios

###  Setup Top pra iniciar

In [2]:
pip install pandas

Collecting pandas
  Using cached pandas-2.3.3-cp310-cp310-win_amd64.whl (11.3 MB)
Collecting pytz>=2020.1
  Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pedro zanette\appdata\roaming\python\python310\site-packages (from pandas) (2.9.0.post0)
Collecting numpy>=1.22.4
  Using cached numpy-2.2.6-cp310-cp310-win_amd64.whl (12.9 MB)
Collecting tzdata>=2022.7
  Downloading tzdata-2025.3-py2.py3-none-any.whl (348 kB)
     ---------------------------------------- 0.0/348.5 kB ? eta -:--:--
     ----------- -------------------------- 102.4/348.5 kB 2.0 MB/s eta 0:00:01
     -------------------------------------- 348.5/348.5 kB 4.3 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\pedro zanette\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.6 pandas-2.3.3 pytz-2025.2 tzdata-2025.3
Note: you may need to restart the kernel to use updated packages.

  WARNING: The scripts f2py.exe and numpy-config.exe are installed in 'c:\Users\Pedro Zanette\AppData\Local\Programs\Python\Python310\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[notice] A new release of pip is available: 23.0.1 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
pip install numpy

Requirement already satisfied: numpy in c:\users\pedro zanette\appdata\local\programs\python\python310\lib\site-packages (2.2.6)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [13]:
pip install unidecode

Collecting unidecode
  Downloading Unidecode-1.4.0-py3-none-any.whl (235 kB)
     ---------------------------------------- 0.0/235.8 kB ? eta -:--:--
     ------------------- ------------------ 122.9/235.8 kB 2.4 MB/s eta 0:00:01
     -------------------------------------- 235.8/235.8 kB 3.6 MB/s eta 0:00:00
Installing collected packages: unidecode
Successfully installed unidecode-1.4.0
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script unidecode.exe is installed in 'c:\Users\Pedro Zanette\AppData\Local\Programs\Python\Python310\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[notice] A new release of pip is available: 23.0.1 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("EmendasParlamentares.csv", sep=";", encoding="ISO-8859-1", low_memory=False)

money_cols = [
    "Valor Empenhado", "Valor Liquidado", "Valor Pago",
    "Valor Restos A Pagar Inscritos", "Valor Restos A Pagar Cancelados",
    "Valor Restos A Pagar Pagos"
]

for c in money_cols:
    df[c] = (df[c].astype(str)
                .str.replace(".", "", regex=False)   # tira separador de milhar (se tiver)
                .str.replace(",", ".", regex=False)) # troca vírgula por ponto
    df[c] = pd.to_numeric(df[c], errors="coerce")

df["Ano da Emenda"] = pd.to_numeric(df["Ano da Emenda"], errors="coerce")

In [2]:
df.head(3)
df[money_cols].describe()

,Valor Empenhado,Valor Liquidado,Valor Pago,Valor Restos A Pagar Inscritos,Valor Restos A Pagar Cancelados,Valor Restos A Pagar Pagos
count,8.899200e+04,8.899200e+04,8.899200e+04,8.899200e+04,8.899200e+04,8.899200e+04
mean,3.407389e+06,1.919545e+06,1.900503e+06,1.220208e+06,1.479311e+05,9.657015e+05
std,4.258671e+07,3.346682e+07,3.335558e+07,3.510079e+07,3.012169e+06,1.399165e+07
min,0.000000e+00,0.000000e+00,0.000000e+00,-6.287337e+06,0.000000e+00,-1.200000e+05
25%,2.500000e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,5.493921e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.500000e+05
75%,1.802864e+06,5.000000e+05,5.000000e+05,2.000000e+05,0.000000e+00,5.000000e+05
max,5.019577e+09,5.019577e+09,5.019577e+09,5.952621e+09,4.281599e+08,2.116755e+09

### 1. Qual o valor total pago em emendas por ano? (Utiliza: groupby e sum na coluna Ano da Emenda e Valor Pago).

In [ ]:
total_pago_ano = df.groupby("Ano da Emenda")["Valor Pago"].sum().sort_index()
total_pago_ano

Ano da Emenda
2014    1.333251e+08
2015    2.427611e+07
2016    1.622156e+10
2017    5.347192e+09
2018    5.474125e+09
2019    6.036585e+09
2020    1.763173e+10
2021    1.589881e+10
2022    1.703253e+10
2023    2.190997e+10
2024    3.139815e+10
2025    3.202134e+10
Name: Valor Pago, dtype: float64

### 2. Qual é a média e o desvio padrão dos valores empenhados por região do Brasil?

In [5]:
stats_regiao = df.groupby("Região")["Valor Empenhado"].agg(["mean", "std", "count"]).sort_values("mean", ascending=False)
stats_regiao

                      mean           std  count
Região
Múltiplo      1.195827e+08  4.367426e+08    595
Norte         3.685237e+06  1.657819e+07  10528
Nacional      3.166962e+06  1.983431e+07   4810
Centro-Oeste  3.014630e+06  1.027134e+07   7421
Nordeste      2.878367e+06  3.317326e+07  24527
Sul           2.152505e+06  8.801345e+06  13345
Sudeste       2.032597e+06  1.518750e+07  27700
Exterior      7.579386e+05  2.720728e+06     66

### 3. Quais são os 10 autores que mais destinaram recursos (valor empenhado) na história do dataset?

In [ ]:
top10_autores = (df.groupby("Nome do Autor da Emenda")["Valor Empenhado"]
                   .sum()
                   .sort_values(ascending=False)
                   .head(10))
top10_autores

### 4. Quantas emendas foram destinadas para o estado de Santa Catarina?

In [ ]:
qtde_sc = (df["UF"].str.upper() == "SANTA CATARINA").sum()
qtde_sc

### 5. Destas emendas, quais municípios se destacam no recebimento dos recursos por tipo?

In [6]:
sc = df[df["UF"].str.upper() == "SANTA CATARINA"].copy()

sc_clean = sc[~sc["Município"].isin(["Múltiplo", "Sem informação"])]

ranking = (sc_clean.groupby(["Tipo de Emenda", "Município"])["Valor Pago"]
             .sum()
             .reset_index()
             .sort_values(["Tipo de Emenda", "Valor Pago"], ascending=[True, False]))

top_por_tipo = ranking.groupby("Tipo de Emenda").head(5)
top_por_tipo

,Tipo de Emenda,Município,Valor Pago
31,Emenda Individual - Transferências Especiais,JOINVILLE,16933859.15
54,Emenda Individual - Transferências Especiais,SÃO JOSÉ,14879086.00
13,Emenda Individual - Transferências Especiais,CANELINHA,7748418.00
20,Emenda Individual - Transferências Especiais,GAROPABA,6470000.00
12,Emenda Individual - Transferências Especiais,CAMPO ALEGRE,5750000.00
190,Emenda Individual - Transferências com Finalid...,JOINVILLE,31081311.03
302,Emenda Individual - Transferências com Finalid...,SÃO JOSÉ,9051097.00
131,Emenda Individual - Transferências com Finalid...,CRICIÚMA,6337899.02
143,Emenda Individual - Transferências com Finalid...,FLORIANÓPOLIS,5004791.47
94,Emenda Individual - Transferências com Finalid...,BLUMENAU,4000918.00
348,Emenda de Bancada,ABELARDO LUZ,0.00
349,Emenda de Bancada,ALFREDO WAGNER,0.00
350,Emenda de Bancada,ANITA GARIBALDI,0.00
351,Emenda de Bancada,APIÚNA,0.00
352,Emenda de Bancada,BELA VISTA DO TOLDO,0.00
428,Emenda de Comissão,JUPIÁ,585000.00
419,Emenda de Comissão,ENTRE RIOS,390000.00
421,Emenda de Comissão,FREI ROGÉRIO,390000.00
431,Emenda de Comissão,MARAVILHA,390000.00
418,Emenda de Comissão,DIONÍSIO CERQUEIRA,176755.48
470,Emenda de Relator,CONCÓRDIA,600000.00
506,Emenda de Relator,PALMITOS,487500.00
461,Emenda de Relator,CAIBI,438750.00
471,Emenda de Relator,CORDILHEIRA ALTA,341250.00
488,Emenda de Relator,IRACEMINHA,341250.00

### 6. Existem emendas onde o valor liquidado é significativamente diferente do valor pago?

In [8]:
df["diff_liq_pago"] = df["Valor Liquidado"] - df["Valor Pago"]
df["abs_diff"] = df["diff_liq_pago"].abs()

# Top 10 maiores diferenças absolutas
df.sort_values("abs_diff", ascending=False)[
    ["Ano da Emenda","UF","Município","Nome do Autor da Emenda","Valor Liquidado","Valor Pago","diff_liq_pago"]
].head(10)

,Ano da Emenda,UF,Município,Nome do Autor da Emenda,Valor Liquidado,Valor Pago,diff_liq_pago
55158,2020,Múltiplo,Múltiplo,RELATOR GERAL,3.711025e+08,2.067501e+08,1.643524e+08
55159,2020,Múltiplo,Múltiplo,RELATOR GERAL,2.547934e+08,9.582184e+07,1.589716e+08
84026,2025,Múltiplo,Múltiplo,COM. DA SAUDE,2.081489e+09,1.960637e+09,1.208526e+08
83404,2025,SERGIPE,Múltiplo,BANCADA DE SERGIPE,7.407256e+07,1.236368e+08,-4.956424e+07
23563,2017,RIO GRANDE DO SUL,Sem informação,BANCADA DO RIO GRANDE DO SUL,4.938436e+07,0.000000e+00,4.938436e+07
84024,2025,Múltiplo,Múltiplo,COM. ASSUNTOS SOCIAIS,9.494270e+08,9.124386e+08,3.698845e+07
83471,2025,MATO GROSSO,Sem informação,BANCADA DO MATO GROSSO,5.661590e+07,9.213227e+07,-3.551638e+07
55144,2020,CEARÁ,Sem informação,RELATOR GERAL,6.120112e+07,2.785241e+07,3.334871e+07
83489,2025,PARÁ,Múltiplo,BANCADA DO PARA,3.103411e+07,6.206822e+07,-3.103411e+07
84025,2025,Múltiplo,Múltiplo,COM. ASSUNTOS SOCIAIS,9.642942e+08,9.948400e+08,-3.054577e+07

### 7. Qual o percentual de recursos que ficaram como "Restos a Pagar Cancelados" em relação ao total empenhado por ano?

In [9]:
agr = df.groupby("Ano da Emenda")[["Valor Restos A Pagar Cancelados","Valor Empenhado"]].sum()
agr["pct_cancelado"] = np.where(agr["Valor Empenhado"] > 0,
                                agr["Valor Restos A Pagar Cancelados"] / agr["Valor Empenhado"],
                                np.nan)
agr[["pct_cancelado"]]

               pct_cancelado
Ano da Emenda
2014                0.229041
2015                0.167135
2016                0.063078
2017                0.101897
2018                0.088657
2019                0.066369
2020                0.086194
2021                0.057291
2022                0.012203
2023                0.004759
2024                0.003762
2025                0.000000

### 8. Qual é a Subfunção mais comum para cada Região do país?

In [10]:
cont = df.groupby(["Região","Nome Subfunção"]).size().reset_index(name="n")
idx = cont.groupby("Região")["n"].idxmax()
mais_comum = cont.loc[idx].sort_values("Região")
mais_comum

           Região                         Nome Subfunção     n
7    Centro-Oeste  Assistência hospitalar e ambulatorial  1430
70       Exterior                  Relações diplomáticas    18
91       Múltiplo                               Múltiplo   161
119      Nacional  Assistência hospitalar e ambulatorial   671
199      Nordeste                         Atenção básica  4477
267         Norte                         Atenção básica  2188
327       Sudeste  Assistência hospitalar e ambulatorial  5636
398           Sul                         Atenção básica  2235

### 9. Existem linhas com Cdigo Municpio IBGE ausente? Como isso afeta a análise por localidade?

In [11]:
col = "Código Município IBGE"
ausente = df[col].isna() | df[col].astype(str).str.strip().isin(["", "S/I", "Sem informação"])

ausente.sum(), ausente.mean()

(np.int64(52014), np.float64(0.5844795037756203))

### 10. O campo Município possui nomes duplicados com grafias diferentes (ex: acentuação)?

In [14]:
from unidecode import unidecode

tmp = df[["Município"]].dropna().copy()
tmp["norm"] = tmp["Município"].astype(str).str.strip().map(lambda x: unidecode(x).upper())

variantes = tmp.groupby("norm")["Município"].nunique().sort_values(ascending=False)
variantes[variantes > 1].head(20)

norm
IPIRA        2
GOIANA       2
ARAPUA       2
ARACOIABA    2
IPORA        2
MARAU        2
PARANA       2
QUIXABA      2
Name: Município, dtype: int64