# Exercícios

###  Setup Top pra iniciar

In [14]:
pip install pandas

Requirement already satisfied: pandas in c:\users\pedro zanette\appdata\local\programs\python\python310\lib\site-packages (2.3.3)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pedro zanette\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2025.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\pedro zanette\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: numpy>=1.22.4 in c:\users\pedro zanette\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pedro zanette\appdata\roaming\python\python310\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\pedro zanette\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [15]:
pip install numpy

Requirement already satisfied: numpy in c:\users\pedro zanette\appdata\local\programs\python\python310\lib\site-packages (2.2.6)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [16]:
pip install unidecode

Requirement already satisfied: unidecode in c:\users\pedro zanette\appdata\local\programs\python\python310\lib\site-packages (1.4.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0.1 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [17]:
import pandas as pd
import numpy as np

df = pd.read_csv("EmendasParlamentares.csv", sep=";", encoding="ISO-8859-1", low_memory=False)

money_cols = [
    "Valor Empenhado", "Valor Liquidado", "Valor Pago",
    "Valor Restos A Pagar Inscritos", "Valor Restos A Pagar Cancelados",
    "Valor Restos A Pagar Pagos"
]

for c in money_cols:
    df[c] = (df[c].astype(str)
                .str.replace(".", "", regex=False)   # tira separador de milhar (se tiver)
                .str.replace(",", ".", regex=False)) # troca vírgula por ponto
    df[c] = pd.to_numeric(df[c], errors="coerce")

df["Ano da Emenda"] = pd.to_numeric(df["Ano da Emenda"], errors="coerce")

In [18]:
# Visualização inicial do dataset após tratamento dos dados
import pandas as pd

pd.options.display.float_format = '{:,.2f}'.format

print("Primeiras 3 linhas do DataFrame:")
display(df.head(3))

print("\nEstatísticas descritivas das colunas monetárias:")
display(df[money_cols].describe())

Primeiras 3 linhas do DataFrame:

,Código da Emenda,Ano da Emenda,Tipo de Emenda,Código do Autor da Emenda,Nome do Autor da Emenda,Número da emenda,Localidade de aplicação do recurso,Código Município IBGE,Município,Código UF IBGE,...,Código Ação,Nome Ação,Código Plano Orçamentário,Nome Plano Orçamentário,Valor Empenhado,Valor Liquidado,Valor Pago,Valor Restos A Pagar Inscritos,Valor Restos A Pagar Cancelados,Valor Restos A Pagar Pagos
0,Sem informação,2014,Emenda Individual - Transferências com Finalid...,S/I,Sem informação,S/I,ITAPOROROCA - PB,2507101,ITAPOROROCA,2500000,...,8581,ESTRUTURACAO DA REDE DE SERVICOS DE ATENCAO PR...,0000,ESTRUTURACAO DA REDE DE SERVICOS DE ATENCAO BA...,"89,800.00",0.00,0.00,0.00,0.00,"89,800.00"
1,Sem informação,2014,Emenda Individual - Transferências com Finalid...,S/I,Sem informação,S/I,FORMOSO - GO,5208103,FORMOSO,5200000,...,8581,ESTRUTURACAO DA REDE DE SERVICOS DE ATENCAO PR...,0000,ESTRUTURACAO DA REDE DE SERVICOS DE ATENCAO BA...,"200,000.00",0.00,0.00,0.00,0.00,"200,000.00"
2,Sem informação,2014,Emenda Individual - Transferências com Finalid...,S/I,Sem informação,S/I,INÚBIA PAULISTA - SP,3520806,INÚBIA PAULISTA,3500000,...,1D73,APOIO A POLITICA NACIONAL DE DESENVOLVIMENTO U...,0000,APOIO A POLITICA NACIONAL DE DESENVOLVIMENTO U...,"245,850.00",0.00,0.00,0.00,0.00,"245,850.00"

Estatísticas descritivas das colunas monetárias:

,Valor Empenhado,Valor Liquidado,Valor Pago,Valor Restos A Pagar Inscritos,Valor Restos A Pagar Cancelados,Valor Restos A Pagar Pagos
count,"88,992.00","88,992.00","88,992.00","88,992.00","88,992.00","88,992.00"
mean,"3,407,389.22","1,919,544.94","1,900,503.36","1,220,208.14","147,931.11","965,701.50"
std,"42,586,712.05","33,466,815.62","33,355,576.88","35,100,792.55","3,012,168.53","13,991,654.24"
min,0.00,0.00,0.00,"-6,287,337.00",0.00,"-120,000.00"
25%,"250,000.00",0.00,0.00,0.00,0.00,0.00
50%,"549,392.10",0.00,0.00,0.00,0.00,"150,000.00"
75%,"1,802,864.09","500,000.00","500,000.00","200,000.00",0.00,"500,000.00"
max,"5,019,577,208.00","5,019,577,208.00","5,019,577,208.00","5,952,620,740.55","428,159,888.18","2,116,754,996.06"

### 1. Qual o valor total pago em emendas por ano? (Utiliza: groupby e sum na coluna Ano da Emenda e Valor Pago).

In [19]:
# Agrupei os dados por "Ano da Emenda" e utilizei a função sum()
# para calcular o valor total efetivamente pago em cada ano
# A soma foi escolhida pois a pergunta solicita o total acumulado
total_pago_ano = df.groupby("Ano da Emenda")["Valor Pago"].sum().sort_index()
total_pago_ano

Ano da Emenda
2014      133,325,135.13
2015       24,276,108.08
2016   16,221,561,925.11
2017    5,347,191,921.12
2018    5,474,124,508.61
2019    6,036,585,201.79
2020   17,631,726,948.51
2021   15,898,814,552.81
2022   17,032,527,467.49
2023   21,909,966,378.90
2024   31,398,154,985.43
2025   32,021,339,708.26
Name: Valor Pago, dtype: float64

### 2. Qual é a média e o desvio padrão dos valores empenhados por região do Brasil?

In [20]:
# Agrupei por "Região" e utilizei agg(["mean","std"])
# para calcular a média e o desvio padrão dos valores empenhados
# A média mostra o valor típico e o desvio padrão indica a dispersão.
stats_regiao = df.groupby("Região")["Valor Empenhado"].agg(["mean", "std", "count"]).sort_values("mean", ascending=False)
stats_regiao

                       mean            std  count
Região
Múltiplo     119,582,718.82 436,742,611.59    595
Norte          3,685,237.31  16,578,194.20  10528
Nacional       3,166,961.86  19,834,313.65   4810
Centro-Oeste   3,014,630.01  10,271,335.86   7421
Nordeste       2,878,366.98  33,173,260.18  24527
Sul            2,152,504.53   8,801,345.16  13345
Sudeste        2,032,596.60  15,187,500.89  27700
Exterior         757,938.61   2,720,727.81     66

### 3. Quais são os 10 autores que mais destinaram recursos (valor empenhado) na história do dataset?

In [21]:
# Agrupei por "Nome do Autor da Emenda" e somei o "Valor Empenhado"
# Em seguida ordenei em ordem decrescente e selecionei os 10 maiores valores.
# O valor empenhado foi usado por representar a intenção orçamentária

top10_autores = (df.groupby("Nome do Autor da Emenda")["Valor Empenhado"]
                   .sum()
                   .sort_values(ascending=False)
                   .head(10))
top10_autores

Nome do Autor da Emenda
RELATOR GERAL                    47,400,810,171.10
Sem informação                   33,074,226,159.70
COM. DA SAUDE                     9,575,272,706.56
COM. DESENV REGIONAL E TURISMO    8,666,451,263.34
COM. ASSUNTOS SOCIAIS             3,224,594,626.30
BANCADA DO RIO GRANDE DO SUL      2,189,744,527.16
BANCADA DO AMAZONAS               2,166,930,484.48
BANCADA DO MATO GROSSO DO SUL     2,165,458,612.46
BANCADA DO DISTRITO FEDERAL       2,160,450,736.13
BANCADA DE SERGIPE                2,156,482,061.49
Name: Valor Empenhado, dtype: float64

### 4. Quantas emendas foram destinadas para o estado de Santa Catarina?

In [22]:
# Filtrei os registros onde a coluna "UF" corresponde a Santa Catarina
# e utilizei a contagem de linhas para determinar o número total de emendas destinadas ao estado.

qtde_sc = int((df["UF"].str.upper() == "SANTA CATARINA").sum())

print(f"Quantidade de emendas destinadas a Santa Catarina: {qtde_sc}")

Quantidade de emendas destinadas a Santa Catarina: 2948

### 5. Destas emendas, quais municípios se destacam no recebimento dos recursos por tipo?

In [23]:
# Filtrei apenas o estado de Santa Catarina e agrupei por
# "Tipo de Emenda" e "Município", somando o "Valor Pago"
# Utilizei Valor Pago por representar a execução real do recurso.

sc = df[df["UF"].str.upper() == "SANTA CATARINA"].copy()

sc_clean = sc[~sc["Município"].isin(["Múltiplo", "Sem informação"])]

ranking = (sc_clean.groupby(["Tipo de Emenda", "Município"])["Valor Pago"]
             .sum()
             .reset_index()
             .sort_values(["Tipo de Emenda", "Valor Pago"], ascending=[True, False]))

top_por_tipo = ranking.groupby("Tipo de Emenda").head(5)
top_por_tipo

,Tipo de Emenda,Município,Valor Pago
31,Emenda Individual - Transferências Especiais,JOINVILLE,"16,933,859.15"
54,Emenda Individual - Transferências Especiais,SÃO JOSÉ,"14,879,086.00"
13,Emenda Individual - Transferências Especiais,CANELINHA,"7,748,418.00"
20,Emenda Individual - Transferências Especiais,GAROPABA,"6,470,000.00"
12,Emenda Individual - Transferências Especiais,CAMPO ALEGRE,"5,750,000.00"
190,Emenda Individual - Transferências com Finalid...,JOINVILLE,"31,081,311.03"
302,Emenda Individual - Transferências com Finalid...,SÃO JOSÉ,"9,051,097.00"
131,Emenda Individual - Transferências com Finalid...,CRICIÚMA,"6,337,899.02"
143,Emenda Individual - Transferências com Finalid...,FLORIANÓPOLIS,"5,004,791.47"
94,Emenda Individual - Transferências com Finalid...,BLUMENAU,"4,000,918.00"
348,Emenda de Bancada,ABELARDO LUZ,0.00
349,Emenda de Bancada,ALFREDO WAGNER,0.00
350,Emenda de Bancada,ANITA GARIBALDI,0.00
351,Emenda de Bancada,APIÚNA,0.00
352,Emenda de Bancada,BELA VISTA DO TOLDO,0.00
428,Emenda de Comissão,JUPIÁ,"585,000.00"
419,Emenda de Comissão,ENTRE RIOS,"390,000.00"
421,Emenda de Comissão,FREI ROGÉRIO,"390,000.00"
431,Emenda de Comissão,MARAVILHA,"390,000.00"
418,Emenda de Comissão,DIONÍSIO CERQUEIRA,"176,755.48"
470,Emenda de Relator,CONCÓRDIA,"600,000.00"
506,Emenda de Relator,PALMITOS,"487,500.00"
461,Emenda de Relator,CAIBI,"438,750.00"
471,Emenda de Relator,CORDILHEIRA ALTA,"341,250.00"
488,Emenda de Relator,IRACEMINHA,"341,250.00"

### 6. Existem emendas onde o valor liquidado é significativamente diferente do valor pago?

In [24]:
# Calculei a diferença entre "Valor Liquidado" e "Valor Pago"
# para identificar possíveis discrepâncias na execução orçamentária
# Utilizei o valor absoluto para destacar diferenças significativas.

df["diff_liq_pago"] = df["Valor Liquidado"] - df["Valor Pago"]
df["abs_diff"] = df["diff_liq_pago"].abs()

# Top 10 maiores diferenças absolutas
df.sort_values("abs_diff", ascending=False)[
    ["Ano da Emenda","UF","Município","Nome do Autor da Emenda","Valor Liquidado","Valor Pago","diff_liq_pago"]
].head(10)

,Ano da Emenda,UF,Município,Nome do Autor da Emenda,Valor Liquidado,Valor Pago,diff_liq_pago
55158,2020,Múltiplo,Múltiplo,RELATOR GERAL,"371,102,492.00","206,750,128.00","164,352,364.00"
55159,2020,Múltiplo,Múltiplo,RELATOR GERAL,"254,793,437.00","95,821,836.00","158,971,601.00"
84026,2025,Múltiplo,Múltiplo,COM. DA SAUDE,"2,081,489,451.00","1,960,636,845.00","120,852,606.00"
83404,2025,SERGIPE,Múltiplo,BANCADA DE SERGIPE,"74,072,560.00","123,636,804.00","-49,564,244.00"
23563,2017,RIO GRANDE DO SUL,Sem informação,BANCADA DO RIO GRANDE DO SUL,"49,384,360.35",0.00,"49,384,360.35"
84024,2025,Múltiplo,Múltiplo,COM. ASSUNTOS SOCIAIS,"949,427,005.00","912,438,556.00","36,988,449.00"
83471,2025,MATO GROSSO,Sem informação,BANCADA DO MATO GROSSO,"56,615,896.00","92,132,271.00","-35,516,375.00"
55144,2020,CEARÁ,Sem informação,RELATOR GERAL,"61,201,115.00","27,852,407.24","33,348,707.76"
83489,2025,PARÁ,Múltiplo,BANCADA DO PARA,"31,034,109.00","62,068,218.00","-31,034,109.00"
84025,2025,Múltiplo,Múltiplo,COM. ASSUNTOS SOCIAIS,"964,294,250.00","994,840,023.00","-30,545,773.00"

### 7. Qual o percentual de recursos que ficaram como "Restos a Pagar Cancelados" em relação ao total empenhado por ano?

In [25]:
# Agrupei por ano e somei o "Valor Restos A Pagar Cancelados"
# e o "Valor Empenhado". Em seguida calculei a proporção
# entre cancelados e empenhados para obter o percentual anual

agr = df.groupby("Ano da Emenda")[["Valor Restos A Pagar Cancelados","Valor Empenhado"]].sum()
agr["pct_cancelado"] = np.where(agr["Valor Empenhado"] > 0,
                                agr["Valor Restos A Pagar Cancelados"] / agr["Valor Empenhado"],
                                np.nan)
agr[["pct_cancelado"]]

               pct_cancelado
Ano da Emenda
2014                    0.23
2015                    0.17
2016                    0.06
2017                    0.10
2018                    0.09
2019                    0.07
2020                    0.09
2021                    0.06
2022                    0.01
2023                    0.00
2024                    0.00
2025                    0.00

### 8. Qual é a Subfunção mais comum para cada Região do país?

In [26]:
# Realizei a contagem de ocorrências por "Região" e "Nome Subfunção"
# e selecionei a subfunção com maior frequência em cada região
# A escolha foi baseada na maior quantidade de registros

cont = df.groupby(["Região","Nome Subfunção"]).size().reset_index(name="n")
idx = cont.groupby("Região")["n"].idxmax()
mais_comum = cont.loc[idx].sort_values("Região")
mais_comum

           Região                         Nome Subfunção     n
7    Centro-Oeste  Assistência hospitalar e ambulatorial  1430
70       Exterior                  Relações diplomáticas    18
91       Múltiplo                               Múltiplo   161
119      Nacional  Assistência hospitalar e ambulatorial   671
199      Nordeste                         Atenção básica  4477
267         Norte                         Atenção básica  2188
327       Sudeste  Assistência hospitalar e ambulatorial  5636
398           Sul                         Atenção básica  2235

### 9. Existem linhas com Cdigo Municpio IBGE ausente? Como isso afeta a análise por localidade?

In [27]:
# Verifiquei valores ausentes ou inválidos na coluna
# "Código Município IBGE" utilizando isna() e filtros adicionais
# Isso é importante pois dados ausentes impactam análises por localidade.

col = "Código Município IBGE"
ausente = df[col].isna() | df[col].astype(str).str.strip().isin(["", "S/I", "Sem informação"])
total_ausentes = int(ausente.sum())
percentual_ausentes = round(ausente.mean() * 100, 2)

print(f"Total de registros com Código Município IBGE ausente: {total_ausentes}")
print(f"Percentual de registros ausentes: {percentual_ausentes}%")

Total de registros com Código Município IBGE ausente: 52014
Percentual de registros ausentes: 58.45%

### 10. O campo Município possui nomes duplicados com grafias diferentes (ex: acentuação)?

In [28]:
# Normalizei os nomes dos municípios removendo acentos e padronizando para maiúsculas.
# Em seguida verifiquei se múltiplas grafias representavam o mesmo município.
# Essa etapa melhora a consistência da análise.


from unidecode import unidecode

tmp = df[["Município"]].dropna().copy()
tmp["norm"] = tmp["Município"].astype(str).str.strip().map(lambda x: unidecode(x).upper())

variantes = tmp.groupby("norm")["Município"].nunique().sort_values(ascending=False)
variantes[variantes > 1].head(20)

norm
IPIRA        2
GOIANA       2
ARAPUA       2
ARACOIABA    2
IPORA        2
MARAU        2
PARANA       2
QUIXABA      2
Name: Município, dtype: int64